services:
  app:
    image: dgarcia51/crmbackend:latest
    ports:
      - "3007:3007"
    environment:
      - PORT=${PORT}
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - S3_REGION=${S3_REGION}
      - S3_BUCKET=${S3_BUCKET}
      - POSTMARK_SERVER_TOKEN=${POSTMARK_SERVER_TOKEN}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
        failure_action: rollback
